## Loading Data into Pandas

In [1]:
import pandas as pd
csvdata = pd.read_csv("score.csv")
csvdata

           id       name  Age  Subject1  Subject2  Subject3  County
0   B10932001      James   19     100.0      88.0      68.0  基隆市中正區
1   B10932002      Curry   19      76.0      61.0      96.0  嘉義縣太保市
2   B10932003     Dorian   21      69.0      93.0      67.0  台北市文山區
3   B10932004  Porzingis   20      44.0       NaN      72.0   嘉義市西區
4   B10932005     Doncic   23       7.0      77.0      69.0  新北市板橋區
5   B10932006     Fisher   21      17.0      32.0      16.0  台南市永康區
6   B10932007        Amy   20      52.0      45.0      49.0  桃園市桃園區
7   B10932008      Davis   23       NaN      49.0      51.0  高雄市苓雅區
8   B10932009       Jean   23      30.0      33.0      67.0   新竹市北區
9   B10932010      Janet   18      45.0      88.0      72.0  屏東縣屏東市
10  B10932011     Benita   18      57.0       NaN      57.0  新竹縣竹北市
11  B10932012        Fox   21      79.0      65.0      50.0  台東縣台東市
12  B10932013      Shawn   21      97.0      51.0      98.0  苗栗縣苗栗市
13  B10932014     Jermey   24       4.0      10.0     100.0  花蓮縣花蓮市
14  B10932015       Andi   19       3.0      18.0      11.0   台中市西區
15  B10932016      Eddie   19      27.0      34.0      73.0  宜蘭縣羅東鎮
16  B10932017       Anna   24      22.0      46.0      62.0  彰化縣彰化市
17  B10932018     Ayesha   22       6.0      54.0      78.0  澎湖縣馬公市
18  B10932019      Larna   19      36.0      35.0      82.0  南投縣南投市
19  B10932020     Joonas   20      88.0      80.0      95.0  金門縣金城鎮
20  B10932021     Sorcha   21      11.0      76.0      47.0  雲林縣虎尾鎮
21  B10932022    Malcolm   18      86.0      82.0      79.0     連江縣
22  B10932023      Tommy   22      67.0      50.0      59.0  台北市大安區
23  B10932024        Ken   20      31.0      32.0      78.0  澎湖縣馬公市
24  B10932025    Stephen   18      26.0      20.0      56.0  南投縣南投市
25  B10932026   Tomposon   20      55.0      52.0      30.0  金門縣金城鎮
26  B10932027       Dror   23      66.0      53.0      36.0  彰化縣彰化市
27  B10932028      Scott   23      89.0      12.0      45.0  新北市板橋區
28  B10932029    Capello   20      99.0      98.0      76.0  台南市永康區
29  B10932030      Evans   24      45.0      86.0      62.0  桃園市桃園區
..        ...        ...  ...       ...       ...       ...     ...
40  B10932041    Richard   24      45.0      61.0      95.0  澎湖縣馬公市
41  B10932042    Rebecca   21      10.0      96.0      54.0  新北市板橋區
42  B10932043   Michelle   18      84.0      55.0      92.0  南投縣草屯鎮
43  B10932044      Marco   20      39.0      91.0      38.0  苗栗縣苗栗市
44  B10932045       Cruz   23      97.0      35.0      91.0  新北市板橋區
45  B10932046       Tory   23      12.0       NaN      47.0   台中市西區
46  B10932047      Burch   19      50.0      15.0      99.0  新北市板橋區
47  B10932048     Jeevan   23      33.0     100.0      45.0  台中市北屯區
48  B10932049      Kevin   24      37.0      65.0      59.0  宜蘭縣羅東鎮
49  B10932050      David   24      22.0       NaN      54.0  彰化縣彰化市
50  B10932051    Goleman   19      78.0       6.0      61.0  南投縣南投市
51  B10932052      Megan   23      91.0       NaN      47.0  彰化縣彰化市
52  B10932053       Maja   19      76.0      79.0      18.0  基隆市暖暖區
53  B10932054     Korica   23      91.0      77.0      15.0  台北市大安區
54  B10932055      Crean   22      36.0      21.0       NaN  台北市大安區
55  B10932056       Matt   21      86.0      55.0      22.0  台東縣台東市
56  B10932057     Wanger   22       9.0      32.0       NaN  雲林縣斗六市
57  B10932058     Monica   21      74.0      45.0      93.0  花蓮縣花蓮市
58  B10932059      Peter   22      55.0      95.0      83.0  台南市永康區
59  B10932060     Tauber   24      49.0      63.0      36.0  高雄市苓雅區
60  B10932061      Roman   18      16.0      81.0      59.0  宜蘭縣羅東鎮
61  B10932062       Beck   22      14.0      61.0      97.0  宜蘭縣羅東鎮
62  B10932063     Mickey   23      20.0      99.0      88.0   台中市西區
63  B10932064      Adele   18      33.0      69.0      10.0  台北市大安區
64  B10932065      Poole   19      33.0      16.0      89.0   台中市西區
65  B10932066    Newmark   19      45.0      46.0      26.0   新竹市東區
66  B10932067       Will   24      23.0      22.0      99.0  金門縣金城鎮
67  B10932068       Acar   23      47.0      63.0      28.0  台北市天母區
68  B10932069     Hanser   23      99.0      12.0       NaN  高雄市前鎮區
69  B10932070    Brandon   24      59.0      68.0      38.0   新竹市北區

[70 rows x 7 columns]

DataFrame 列、欄的數量

In [2]:
csvdata.shape

(70, 7)

DataFrame 索引資訊

In [3]:
csvdata.index

RangeIndex(start=0, stop=70, step=1)

DataFrame 的詳細資訊

In [4]:
csvdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 7 columns):
id          70 non-null object
name        70 non-null object
Age         70 non-null int64
Subject1    69 non-null float64
Subject2    65 non-null float64
Subject3    67 non-null float64
County      70 non-null object
dtypes: float64(3), int64(1), object(3)
memory usage: 3.9+ KB

DataFrame 的統計資料

In [5]:
csvdata.describe()

             Age    Subject1    Subject2    Subject3
count  70.000000   69.000000   65.000000   67.000000
mean   21.028571   49.855072   58.569231   63.029851
std     2.063987   29.631698   27.574314   25.591174
min    18.000000    3.000000    6.000000   10.000000
25%    19.000000   26.000000   35.000000   47.000000
50%    21.000000   45.000000   61.000000   63.000000
75%    23.000000   76.000000   82.000000   85.500000
max    24.000000  100.000000  100.000000  100.000000

去除空值

In [6]:
csvdata.dropna()

           id      name  Age  Subject1  Subject2  Subject3  County
0   B10932001     James   19     100.0      88.0      68.0  基隆市中正區
1   B10932002     Curry   19      76.0      61.0      96.0  嘉義縣太保市
2   B10932003    Dorian   21      69.0      93.0      67.0  台北市文山區
4   B10932005    Doncic   23       7.0      77.0      69.0  新北市板橋區
5   B10932006    Fisher   21      17.0      32.0      16.0  台南市永康區
6   B10932007       Amy   20      52.0      45.0      49.0  桃園市桃園區
8   B10932009      Jean   23      30.0      33.0      67.0   新竹市北區
9   B10932010     Janet   18      45.0      88.0      72.0  屏東縣屏東市
11  B10932012       Fox   21      79.0      65.0      50.0  台東縣台東市
12  B10932013     Shawn   21      97.0      51.0      98.0  苗栗縣苗栗市
13  B10932014    Jermey   24       4.0      10.0     100.0  花蓮縣花蓮市
14  B10932015      Andi   19       3.0      18.0      11.0   台中市西區
15  B10932016     Eddie   19      27.0      34.0      73.0  宜蘭縣羅東鎮
16  B10932017      Anna   24      22.0      46.0      62.0  彰化縣彰化市
17  B10932018    Ayesha   22       6.0      54.0      78.0  澎湖縣馬公市
18  B10932019     Larna   19      36.0      35.0      82.0  南投縣南投市
19  B10932020    Joonas   20      88.0      80.0      95.0  金門縣金城鎮
20  B10932021    Sorcha   21      11.0      76.0      47.0  雲林縣虎尾鎮
21  B10932022   Malcolm   18      86.0      82.0      79.0     連江縣
22  B10932023     Tommy   22      67.0      50.0      59.0  台北市大安區
23  B10932024       Ken   20      31.0      32.0      78.0  澎湖縣馬公市
24  B10932025   Stephen   18      26.0      20.0      56.0  南投縣南投市
25  B10932026  Tomposon   20      55.0      52.0      30.0  金門縣金城鎮
26  B10932027      Dror   23      66.0      53.0      36.0  彰化縣彰化市
27  B10932028     Scott   23      89.0      12.0      45.0  新北市板橋區
28  B10932029   Capello   20      99.0      98.0      76.0  台南市永康區
29  B10932030     Evans   24      45.0      86.0      62.0  桃園市桃園區
30  B10932031   Bronwyn   20      58.0      98.0      32.0  高雄市左營區
31  B10932032     Rubin   18      99.0      85.0      74.0   新竹市北區
32  B10932033    Daniel   23      37.0      87.0      63.0  宜蘭縣宜蘭市
..        ...       ...  ...       ...       ...       ...     ...
34  B10932035      Pink   19      56.0      64.0     100.0  宜蘭縣羅東鎮
35  B10932036    Ishita   19      39.0      97.0      91.0  台北市大安區
36  B10932037     Sezer   18      56.0      94.0      68.0  台北市中山區
37  B10932038      Jeff   21      12.0      66.0      66.0   台中市西區
38  B10932039     Haden   24      12.0      92.0      53.0  台北市萬華區
39  B10932040    Harper   19      96.0      20.0     100.0  台南市白河區
40  B10932041   Richard   24      45.0      61.0      95.0  澎湖縣馬公市
41  B10932042   Rebecca   21      10.0      96.0      54.0  新北市板橋區
42  B10932043  Michelle   18      84.0      55.0      92.0  南投縣草屯鎮
43  B10932044     Marco   20      39.0      91.0      38.0  苗栗縣苗栗市
44  B10932045      Cruz   23      97.0      35.0      91.0  新北市板橋區
46  B10932047     Burch   19      50.0      15.0      99.0  新北市板橋區
47  B10932048    Jeevan   23      33.0     100.0      45.0  台中市北屯區
48  B10932049     Kevin   24      37.0      65.0      59.0  宜蘭縣羅東鎮
50  B10932051   Goleman   19      78.0       6.0      61.0  南投縣南投市
52  B10932053      Maja   19      76.0      79.0      18.0  基隆市暖暖區
53  B10932054    Korica   23      91.0      77.0      15.0  台北市大安區
55  B10932056      Matt   21      86.0      55.0      22.0  台東縣台東市
57  B10932058    Monica   21      74.0      45.0      93.0  花蓮縣花蓮市
58  B10932059     Peter   22      55.0      95.0      83.0  台南市永康區
59  B10932060    Tauber   24      49.0      63.0      36.0  高雄市苓雅區
60  B10932061     Roman   18      16.0      81.0      59.0  宜蘭縣羅東鎮
61  B10932062      Beck   22      14.0      61.0      97.0  宜蘭縣羅東鎮
62  B10932063    Mickey   23      20.0      99.0      88.0   台中市西區
63  B10932064     Adele   18      33.0      69.0      10.0  台北市大安區
64  B10932065     Poole   19      33.0      16.0      89.0   台中市西區
65  B10932066   Newmark   19      45.0      46.0      26.0   新竹市東區
66  B10932067      Will   24      23.0      22.0      99.0  金門縣金城鎮
67  B10932068      Acar   23      47.0      63.0      28.0  台北市天母區
69  B10932070   Brandon   24      59.0      68.0      38.0   新竹市北區

[61 rows x 7 columns]

取前面 n 筆資料 head(n)

In [7]:
csvdata.head(3)

          id    name  Age  Subject1  Subject2  Subject3  County
0  B10932001   James   19     100.0      88.0      68.0  基隆市中正區
1  B10932002   Curry   19      76.0      61.0      96.0  嘉義縣太保市
2  B10932003  Dorian   21      69.0      93.0      67.0  台北市文山區

In [8]:
csvdata.columns

Index(['id', 'name', 'Age', 'Subject1', 'Subject2', 'Subject3', 'County'], dtype='object')

## Data select

Select as dictionary (column)

In [9]:
csvdata['County']

0     基隆市中正區
1     嘉義縣太保市
2     台北市文山區
3      嘉義市西區
4     新北市板橋區
5     台南市永康區
6     桃園市桃園區
7     高雄市苓雅區
8      新竹市北區
9     屏東縣屏東市
10    新竹縣竹北市
11    台東縣台東市
12    苗栗縣苗栗市
13    花蓮縣花蓮市
14     台中市西區
15    宜蘭縣羅東鎮
16    彰化縣彰化市
17    澎湖縣馬公市
18    南投縣南投市
19    金門縣金城鎮
20    雲林縣虎尾鎮
21       連江縣
22    台北市大安區
23    澎湖縣馬公市
24    南投縣南投市
25    金門縣金城鎮
26    彰化縣彰化市
27    新北市板橋區
28    台南市永康區
29    桃園市桃園區
       ...
40    澎湖縣馬公市
41    新北市板橋區
42    南投縣草屯鎮
43    苗栗縣苗栗市
44    新北市板橋區
45     台中市西區
46    新北市板橋區
47    台中市北屯區
48    宜蘭縣羅東鎮
49    彰化縣彰化市
50    南投縣南投市
51    彰化縣彰化市
52    基隆市暖暖區
53    台北市大安區
54    台北市大安區
55    台東縣台東市
56    雲林縣斗六市
57    花蓮縣花蓮市
58    台南市永康區
59    高雄市苓雅區
60    宜蘭縣羅東鎮
61    宜蘭縣羅東鎮
62     台中市西區
63    台北市大安區
64     台中市西區
65     新竹市東區
66    金門縣金城鎮
67    台北市天母區
68    高雄市前鎮區
69     新竹市北區
Name: County, Length: 70, dtype: object

Select using index (row)

In [10]:
csvdata['Age'][3:5]

3    20
4    23
Name: Age, dtype: int64

In [11]:
csvdata['Subject1'][:3]

0    100.0
1     76.0
2     69.0
Name: Subject1, dtype: float64

In [12]:
subject1_top=csvdata['Subject1'].between(80,100)
csvdata.name[subject1_top]

0        James
12       Shawn
19      Joonas
21     Malcolm
27       Scott
28     Capello
31       Rubin
39      Harper
42    Michelle
44        Cruz
51       Megan
53      Korica
55        Matt
68      Hanser
Name: name, dtype: object

## Filtering Data

單一判斷

In [13]:
age24 = csvdata[csvdata['Age'] > 23]
age24

           id     name  Age  Subject1  Subject2  Subject3  County
13  B10932014   Jermey   24       4.0      10.0     100.0  花蓮縣花蓮市
16  B10932017     Anna   24      22.0      46.0      62.0  彰化縣彰化市
29  B10932030    Evans   24      45.0      86.0      62.0  桃園市桃園區
38  B10932039    Haden   24      12.0      92.0      53.0  台北市萬華區
40  B10932041  Richard   24      45.0      61.0      95.0  澎湖縣馬公市
48  B10932049    Kevin   24      37.0      65.0      59.0  宜蘭縣羅東鎮
49  B10932050    David   24      22.0       NaN      54.0  彰化縣彰化市
59  B10932060   Tauber   24      49.0      63.0      36.0  高雄市苓雅區
66  B10932067     Will   24      23.0      22.0      99.0  金門縣金城鎮
69  B10932070  Brandon   24      59.0      68.0      38.0   新竹市北區

多重判斷

In [14]:
score90 = csvdata[(csvdata['Subject1'] >= 90)&(csvdata['Subject2'] >= 90)]
score90

           id     name  Age  Subject1  Subject2  Subject3  County
28  B10932029  Capello   20      99.0      98.0      76.0  台南市永康區

iloc: 以數字為 index 來做選擇

In [15]:
csvdata.iloc[0:5]

          id       name  Age  Subject1  Subject2  Subject3  County
0  B10932001      James   19     100.0      88.0      68.0  基隆市中正區
1  B10932002      Curry   19      76.0      61.0      96.0  嘉義縣太保市
2  B10932003     Dorian   21      69.0      93.0      67.0  台北市文山區
3  B10932004  Porzingis   20      44.0       NaN      72.0   嘉義市西區
4  B10932005     Doncic   23       7.0      77.0      69.0  新北市板橋區

In [16]:
#找出 index 3 行第0欄的值
csvdata.iloc[0,6]

'基隆市中正區'

loc: 以 column 名來做選擇

In [17]:
#找出所有今年剛滿 18 歲的人
a=csvdata.loc[csvdata['Age'] == 18]
a

           id      name  Age  Subject1  Subject2  Subject3  County
9   B10932010     Janet   18      45.0      88.0      72.0  屏東縣屏東市
10  B10932011    Benita   18      57.0       NaN      57.0  新竹縣竹北市
21  B10932022   Malcolm   18      86.0      82.0      79.0     連江縣
24  B10932025   Stephen   18      26.0      20.0      56.0  南投縣南投市
31  B10932032     Rubin   18      99.0      85.0      74.0   新竹市北區
36  B10932037     Sezer   18      56.0      94.0      68.0  台北市中山區
42  B10932043  Michelle   18      84.0      55.0      92.0  南投縣草屯鎮
60  B10932061     Roman   18      16.0      81.0      59.0  宜蘭縣羅東鎮
63  B10932064     Adele   18      33.0      69.0      10.0  台北市大安區

## Sorting/ Describing Data

In [18]:
#Sort Descending
a.sort_values(by=['Subject1'], ascending=False)

           id      name  Age  Subject1  Subject2  Subject3  County
31  B10932032     Rubin   18      99.0      85.0      74.0   新竹市北區
21  B10932022   Malcolm   18      86.0      82.0      79.0     連江縣
42  B10932043  Michelle   18      84.0      55.0      92.0  南投縣草屯鎮
10  B10932011    Benita   18      57.0       NaN      57.0  新竹縣竹北市
36  B10932037     Sezer   18      56.0      94.0      68.0  台北市中山區
9   B10932010     Janet   18      45.0      88.0      72.0  屏東縣屏東市
63  B10932064     Adele   18      33.0      69.0      10.0  台北市大安區
24  B10932025   Stephen   18      26.0      20.0      56.0  南投縣南投市
60  B10932061     Roman   18      16.0      81.0      59.0  宜蘭縣羅東鎮

呈現特定欄位

In [19]:
a[['name','Subject1','Subject2']]

        name  Subject1  Subject2
9      Janet      45.0      88.0
10    Benita      57.0       NaN
21   Malcolm      86.0      82.0
24   Stephen      26.0      20.0
31     Rubin      99.0      85.0
36     Sezer      56.0      94.0
42  Michelle      84.0      55.0
60     Roman      16.0      81.0
63     Adele      33.0      69.0

平均

In [20]:
a['Subject1'].mean()

55.77777777777778

總和

In [21]:
a['Subject2'].sum()

574.0

從 County 取出縣市

In [22]:
num = int(len(csvdata))
i=0
for i in range(num):
    csvdata['New County'] = csvdata['County'].apply(lambda x: x[:3])
csvdata

           id       name  Age  Subject1  Subject2  Subject3  County New County
0   B10932001      James   19     100.0      88.0      68.0  基隆市中正區        基隆市
1   B10932002      Curry   19      76.0      61.0      96.0  嘉義縣太保市        嘉義縣
2   B10932003     Dorian   21      69.0      93.0      67.0  台北市文山區        台北市
3   B10932004  Porzingis   20      44.0       NaN      72.0   嘉義市西區        嘉義市
4   B10932005     Doncic   23       7.0      77.0      69.0  新北市板橋區        新北市
5   B10932006     Fisher   21      17.0      32.0      16.0  台南市永康區        台南市
6   B10932007        Amy   20      52.0      45.0      49.0  桃園市桃園區        桃園市
7   B10932008      Davis   23       NaN      49.0      51.0  高雄市苓雅區        高雄市
8   B10932009       Jean   23      30.0      33.0      67.0   新竹市北區        新竹市
9   B10932010      Janet   18      45.0      88.0      72.0  屏東縣屏東市        屏東縣
10  B10932011     Benita   18      57.0       NaN      57.0  新竹縣竹北市        新竹縣
11  B10932012        Fox   21      79.0      65.0      50.0  台東縣台東市        台東縣
12  B10932013      Shawn   21      97.0      51.0      98.0  苗栗縣苗栗市        苗栗縣
13  B10932014     Jermey   24       4.0      10.0     100.0  花蓮縣花蓮市        花蓮縣
14  B10932015       Andi   19       3.0      18.0      11.0   台中市西區        台中市
15  B10932016      Eddie   19      27.0      34.0      73.0  宜蘭縣羅東鎮        宜蘭縣
16  B10932017       Anna   24      22.0      46.0      62.0  彰化縣彰化市        彰化縣
17  B10932018     Ayesha   22       6.0      54.0      78.0  澎湖縣馬公市        澎湖縣
18  B10932019      Larna   19      36.0      35.0      82.0  南投縣南投市        南投縣
19  B10932020     Joonas   20      88.0      80.0      95.0  金門縣金城鎮        金門縣
20  B10932021     Sorcha   21      11.0      76.0      47.0  雲林縣虎尾鎮        雲林縣
21  B10932022    Malcolm   18      86.0      82.0      79.0     連江縣        連江縣
22  B10932023      Tommy   22      67.0      50.0      59.0  台北市大安區        台北市
23  B10932024        Ken   20      31.0      32.0      78.0  澎湖縣馬公市        澎湖縣
24  B10932025    Stephen   18      26.0      20.0      56.0  南投縣南投市        南投縣
25  B10932026   Tomposon   20      55.0      52.0      30.0  金門縣金城鎮        金門縣
26  B10932027       Dror   23      66.0      53.0      36.0  彰化縣彰化市        彰化縣
27  B10932028      Scott   23      89.0      12.0      45.0  新北市板橋區        新北市
28  B10932029    Capello   20      99.0      98.0      76.0  台南市永康區        台南市
29  B10932030      Evans   24      45.0      86.0      62.0  桃園市桃園區        桃園市
..        ...        ...  ...       ...       ...       ...     ...        ...
40  B10932041    Richard   24      45.0      61.0      95.0  澎湖縣馬公市        澎湖縣
41  B10932042    Rebecca   21      10.0      96.0      54.0  新北市板橋區        新北市
42  B10932043   Michelle   18      84.0      55.0      92.0  南投縣草屯鎮        南投縣
43  B10932044      Marco   20      39.0      91.0      38.0  苗栗縣苗栗市        苗栗縣
44  B10932045       Cruz   23      97.0      35.0      91.0  新北市板橋區        新北市
45  B10932046       Tory   23      12.0       NaN      47.0   台中市西區        台中市
46  B10932047      Burch   19      50.0      15.0      99.0  新北市板橋區        新北市
47  B10932048     Jeevan   23      33.0     100.0      45.0  台中市北屯區        台中市
48  B10932049      Kevin   24      37.0      65.0      59.0  宜蘭縣羅東鎮        宜蘭縣
49  B10932050      David   24      22.0       NaN      54.0  彰化縣彰化市        彰化縣
50  B10932051    Goleman   19      78.0       6.0      61.0  南投縣南投市        南投縣
51  B10932052      Megan   23      91.0       NaN      47.0  彰化縣彰化市        彰化縣
52  B10932053       Maja   19      76.0      79.0      18.0  基隆市暖暖區        基隆市
53  B10932054     Korica   23      91.0      77.0      15.0  台北市大安區        台北市
54  B10932055      Crean   22      36.0      21.0       NaN  台北市大安區        台北市
55  B10932056       Matt   21      86.0      55.0      22.0  台東縣台東市        台東縣
56  B10932057     Wanger   22       9.0      32.0       NaN  雲林縣斗六市        雲林縣
57  B10932058     Monica   21      74.0      45.0      93.0  花蓮縣花蓮市        花蓮縣
58  B10932059      Peter   22      55.0      95.0      83.0  台南市永康區        台南市
59  B10932060     Tauber   24      49.0      63.0      36.0  高雄市苓雅區        高雄市
60  B10932061      Roman   18      16.0      81.0      59.0  宜蘭縣羅東鎮        宜蘭縣
61  B10932062       Beck   22      14.0      61.0      97.0  宜蘭縣羅東鎮        宜蘭縣
62  B10932063     Mickey   23      20.0      99.0      88.0   台中市西區        台中市
63  B10932064      Adele   18      33.0      69.0      10.0  台北市大安區        台北市
64  B10932065      Poole   19      33.0      16.0      89.0   台中市西區        台中市
65  B10932066    Newmark   19      45.0      46.0      26.0   新竹市東區        新竹市
66  B10932067       Will   24      23.0      22.0      99.0  金門縣金城鎮        金門縣
67  B10932068       Acar   23      47.0      63.0      28.0  台北市天母區        台北市
68  B10932069     Hanser   23      99.0      12.0       NaN  高雄市前鎮區        高雄市
69  B10932070    Brandon   24      59.0      68.0      38.0   新竹市北區        新竹市

[70 rows x 8 columns]

依據各縣市計算該縣市Subject1的平均

In [23]:
csvdata.groupby(by='New County')['Subject1'].mean()

New County
南投縣    56.000000
台中市    18.833333
台北市    50.000000
台南市    66.750000
台東縣    82.500000
嘉義市    44.000000
嘉義縣    76.000000
基隆市    84.666667
宜蘭縣    31.166667
屏東縣    45.000000
彰化縣    50.250000
新北市    50.600000
新竹市    58.250000
新竹縣    57.000000
桃園市    48.500000
澎湖縣    27.333333
花蓮縣    39.000000
苗栗縣    68.000000
連江縣    86.000000
金門縣    55.333333
雲林縣    10.000000
高雄市    68.666667
Name: Subject1, dtype: float64

## Loading Open Data into Pandas

encoding 是指用何種編碼讀取檔案，可能是 big5, utf-8, iso9660, 或者 iso-8859-15 都有可能

In [24]:
odata = pd.read_csv("台灣電力公司_鄉鎮市(郵遞區)別用電統計資料.csv", encoding='big5', thousands=',')
odata

,年度,月份,郵遞區號,行政區,用電種類,用戶數,契約容量,售電度數(當月),售電度數(當年累計)
0,110,3,100,中正區,1表燈非營業用,"61,888",1396,19793147,NaN
1,110,3,100,中正區,2表燈營業用,"9,961",22570,12997909,NaN
2,110,3,100,中正區,3表燈小計,**,23966,32791056,NaN
3,110,3,100,中正區,4低壓綜合裝置非營業用,*,217,18068,NaN
4,110,3,100,中正區,5低壓綜合需量非營業用,746,30219,4384846,NaN
5,110,3,100,中正區,6低壓綜合非營業用電小計,**,30436,4402914,NaN
6,110,3,100,中正區,7低壓綜合裝置營業用,23,971,78149,NaN
7,110,3,100,中正區,8低壓綜合需量營業用,918,39229,7278853,NaN
8,110,3,100,中正區,9低壓綜合營業用電小計,**,40200,7357002,NaN
9,110,3,100,中正區,10低壓綜合用電小計,**,70636,11759916,NaN
10,110,3,100,中正區,11低壓裝置電力,217,2278,142838,NaN
11,110,3,100,中正區,12低壓需量電力,*,87,5115,NaN
12,110,3,100,中正區,13低壓電力小計,**,2365,147953,NaN
13,110,3,100,中正區,14高壓電力,303,215404,58628204,NaN
14,110,3,100,中正區,15特高壓電力,*,12200,5299900,NaN
15,110,3,100,中正區,16高＆特高壓電力小計,**,227604,63928104,NaN
16,110,3,100,中正區,17電力小計,**,229969,64076057,NaN
17,110,3,100,中正區,18綜合＆電力小計,**,300605,75835973,NaN
18,110,3,100,中正區,19電燈＆綜合＆電力小計,**,324571,108627029,NaN
19,110,3,100,中正區,20臨時電燈,13,0,6390,NaN
20,110,3,100,中正區,21臨時電力,39,3520,696902,NaN
21,110,3,100,中正區,22臨時用電小計,**,3520,703292,NaN
22,110,3,100,中正區,23總計（含臨時用電）,**,324571,109330321,NaN
23,110,3,100,中正區,24表燈合計,**,23966,32797446,NaN
24,110,3,100,中正區,25綜合＆電力合計,**,300605,76532875,NaN
25,110,3,103,大同區,1表燈非營業用,"54,570",363,17792307,NaN
26,110,3,103,大同區,2表燈營業用,"10,437",10628,9271993,NaN
27,110,3,103,大同區,3表燈小計,**,10991,27064300,NaN
28,110,3,103,大同區,4低壓綜合裝置非營業用,*,0,0,NaN
29,110,3,103,大同區,5低壓綜合需量非營業用,483,17555,2495777,NaN
...,...,...,...,...,...,...,...,...,...
230595,108,3,982,卓溪,21臨時電力,*,0,0,NaN
230596,108,3,982,卓溪,22臨時用電小計,**,0,0,NaN
230597,108,3,982,卓溪,23總計（含臨時用電）,**,294,285458,NaN
230598,108,3,982,卓溪,24表燈合計,**,93,263459,NaN
230599,108,3,982,卓溪,25綜合＆電力合計,**,201,21999,NaN
230600,108,3,983,富里,1表燈非營業用,"5,485",0,1436483,NaN
230601,108,3,983,富里,2表燈營業用,230,223,260518,NaN
230602,108,3,983,富里,3表燈小計,**,223,1697001,NaN
230603,108,3,983,富里,4低壓綜合裝置非營業用,*,0,0,NaN
230604,108,3,983,富里,5低壓綜合需量非營業用,7,226,27295,NaN
230605,108,3,983,富里,6低壓綜合非營業用電小計,**,226,27295,NaN
230606,108,3,983,富里,7低壓綜合裝置營業用,*,0,0,NaN
230607,108,3,983,富里,8低壓綜合需量營業用,7,210,56338,NaN
230608,108,3,983,富里,9低壓綜合營業用電小計,**,210,56338,NaN
230609,108,3,983,富里,10低壓綜合用電小計,**,436,83633,NaN
230610,108,3,983,富里,11低壓裝置電力,235,1794,189404,NaN
230611,108,3,983,富里,12低壓需量電力,27,2120,237041,NaN
230612,108,3,983,富里,13低壓電力小計,**,3914,426445,NaN
230613,108,3,983,富里,14高壓電力,*,1010,135320,NaN
230614,108,3,983,富里,15特高壓電力,*,0,0,NaN
230615,108,3,983,富里,16高＆特高壓電力小計,**,1010,135320,NaN
230616,108,3,983,富里,17電力小計,**,4924,561765,NaN
230617,108,3,983,富里,18綜合＆電力小計,**,5360,645398,NaN
230618,108,3,983,富里,19電燈＆綜合＆電力小計,**,5583,2342399,NaN
230619,108,3,983,富里,20臨時電燈,*,0,1026,NaN
230620,108,3,983,富里,21臨時電力,*,0,0,NaN
230621,108,3,983,富里,22臨時用電小計,**,0,1026,NaN
230622,108,3,983,富里,23總計（含臨時用電）,**,5583,2343425,NaN
230623,108,3,983,富里,24表燈合計,**,223,1698027,NaN
230624,108,3,983,富里,25綜合＆電力合計,**,5360,645398,NaN